body {
	margin: 0px;
	background-image: url('../image/main_bj.png');
	background-repeat: repeat-x;
}
.dl_content {
	float: left;
	height: 457px;
	width: 995px;
	background-image: url('../image/content_bj.png');
	background-repeat: repeat-x;
}
.main_dr {
	height: auto;
	width: 358px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 100px;
}

.dl_content_dh {
	height: 50px;
	width: 888px;
	float: left;
	text-align: right;
	color: #507EA4;
	font-size: 13px;
	padding-top: 29px;
	padding-right: 107px;
	letter-spacing: 1pt;
}
.dl_content_zt {
	float: left;
	height: 307px;
	width: 886px;
	padding-left: 109px;
}
.dl_content_yz {
	float: left;
	height: 65px;
	width: 925px;
	text-align: center;
	padding-left: 70px;
	display: inline;
}
.dl_content_zt_left {
	float: left;
	height: 299px;
	width: 217px;
	padding-top: 4px;
}
.dl_content_zt_z {
	float: left;
	height: 307px;
	width: 358px;
}
.dl_content_zt_z_left {
	float: left;
	height: 307px;
	width: 7px;
}
.dl_content_zt_z_z {
	float: left;
	height: 307px;
	width: 338px;
	background-image: url('../image/content_h.png');
	background-repeat: repeat-x;
}
.dl_content_zt_z_right {
	float: left;
	height: 307px;
	width: 13px;
}
.dl_content_zt_z_z_main {
	float: left;
	height: 246px;
	width: 338px;
	padding-top: 31px;
}
.dl_content_zt_z_z_main_logo {
	float: left;
	height: 63px;
	width: 312px;
	padding-left: 26px;
	margin-bottom: 10px;
}
.dl_content_zt_z_z_main_yhm {
	float: left;
	height: 27px;
	width: 338px;
	margin-bottom: 7px;
	display: inline;
	 padding-left: 15px;

}
.dl_content_zt_z_z_main_yhm1 {
	float: left;
	height: 20px;
	width: 285px;
	margin-bottom: 7px;
	padding-left: 53px;
}
.dl_content_zt_z_z_main_yhm_wz {
	float: left;
	height: 20px;
	width: 60px;
	font-size: 13px;
	color: #333333;
	padding-left: 23px;
	padding-top: 7px;
}
.dl_content_zt_z_z_main_yhm_wz1 {
	float: left;
	height: 17px;
	width: 70px;
	font-size: 13px;
	color: #333333;
	padding-top: 3px;
}
.dl_content_zt_z_z_main_yhm_wz2 {
	float: left;
	height: 20px;
	width: 20px;
	font-size: 13px;
	color: #333333;
	padding-left: 22px;
	display: inline;
}

.dl_content_zt_z_z_main_yhm_wbk {
	float: left;
	height: 27px;
	width: 170px;
}
.main_dr .dl_content_zt_z .dl_content_zt_z_z .dl_content_zt_z_z_main .dl_content_zt_z_z_main_yhm .dl_content_zt_z_z_main_yhm_wbk input {
	height: 18px;
	width: 170px;
}
.main_dr .dl_content_zt_z .dl_content_zt_z_z .dl_content_zt_z_z_main .dl_content_zt_z_z_main_yhm .dl_content_zt_z_z_main_yhm_wbk1 input {
	height: 18px;
	width: 75px;
}

.dl_content_zt_z_z_main_yhm_wbk1 {
	float: left;
	height: 27px;
	width: 75px;
	margin-right: 7px;
	display: inline;
}
.dl_content_zt_z_z_main_yhm_wjmm {
	float: left;
	height: 20px;
	width: 65px;
	color: #406F93;
	font-size: 12px;
	padding-top: 7px;
	padding-left: 10px;
	display: inline;
}
.dl_content_zt_z_z_main_yhm_wjmm1
{
	float: left;
	height: 27px;
	width: 163px;
	color: #406F93;
	font-size: 12px;
	padding-top: 2px;
}
.dl_content_zt_z_z_main_yhm_wjmm2 {
	float: left;
	height: 14px;
	width: 96px;
	color: #406F93;
	font-size: 12px;
	display: inline;
	padding-top: 13px;
	text-decoration: underline;
}
.dl_content_zt_z_z_main_yhm_an {
	float: left;
	height: 38px;
	width: 338px;
	text-align: center;
	padding-top: 15px;
}
.dl_content_ty {
	float: left;
	height: 66px;
	width: 360px;
}
.main_dr .dl_content_zt_z .dl_content_zt_z_z .dl_content_zt_z_z_main .dl_content_zt_z_z_main_yhm_an img {
	margin-right: 18px;
}
.main_dr .dl_content_zt_z .dl_content_zt_z_z .dl_content_zt_z_z_main .dl_content_zt_z_z_main_yhm_an img {
	margin-left: 18px;
}
.main_dr.dl_content .dl_content_zt .dl_content_zt_z .dl_content_zt_z_z .dl_content_zt_z_z_main .dl_content_zt_z_z_main_yhm .dl_content_zt_z_z_main_yhm_wjmm2 a:hover {
	font-size: 12px;
	color: #cc3300;
}
.main_dr .dl_content_zt_z .dl_content_zt_z_z .dl_content_zt_z_z_main .dl_content_zt_z_z_main_yhm .dl_content_zt_z_z_main_yhm_wjmm a {
	font-size: 12px;
	color: #406F93;
	text-decoration: none;
}
.main_dr .dl_content_zt_z .dl_content_zt_z_z .dl_content_zt_z_z_main .dl_content_zt_z_z_main_yhm .dl_content_zt_z_z_main_yhm_wjmm a:hover {
	font-size: 12px;
	color: #cc0033;
}
.main_dr .dl_content_zt_z .dl_content_zt_z_z .dl_content_zt_z_z_main .dl_content_zt_z_z_main_yhm .dl_content_zt_z_z_main_yhm_wjmm2 a {
	color: #406F93;
}
.main_dr .dl_content_zt_z .dl_content_zt_z_z .dl_content_zt_z_z_main .dl_content_zt_z_z_main_yhm .dl_content_zt_z_z_main_yhm_wjmm2 a:hover {
	color: #cc0033;
}
